/* 
rgb(17, 17, 17) negro/gris logo
#3b1e70 violeta
 */

/* Body */
body{
    background-color: black;
}
/* Header */
header{
    margin-top: 5rem;
}
/* index / header */
.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) #3b1e70!important;
}
.border-start {
    border-left: var(--bs-border-width) var(--bs-border-style) #3b1e70!important;
}
.border-end {
    border-right: var(--bs-border-width) var(--bs-border-style) #3b1e70!important;
}
/*index / Header / img */
.indexBackground{
    background-color: rgb(17, 17, 17);
}
.indexImg {
    max-width: 100%;
    height: auto;
  }
/* index / Main */
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style)#3b1e70!important;
}
/* Main / Formulario */
.textForm{
    color: white;
}
.form-check-input:checked {
    background-color: #3b1e70;
    border-color: #3b1e70;
}
.logIn{
    background-color: #3b1e70;
    color: white;
    font-size: large;
    text-decoration: none;
}
.logIn:hover{
    text-decoration: underline;
}
.border {
    border: var(--bs-border-width) var(--bs-border-style) #3b1e70!important;
}
/* Footer */
footer{
    margin-top: 2rem;
}
.imgNetworks{
    margin-top: 1rem;
    width: 2rem;
    height: auto;
}

/* home/header */

/* home/Nav */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: rgb(17, 17, 17)!important;
}
.navbar-toggler {
    color: #3b1e70;
    background-color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}
.nav-link {
    color: white;
}
.imgNav{
    width: 10rem;
    height: auto;
}

/* home / main */
.cuenta{
    height: 6rem;
}
.backCuenta{
    background-color: white;
    max-width: 43rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}
h2{
    color: white;
}
.mxwidth{
    max-width: 43rem;
}
h4{
    color: white;
}